<% include header.ejs %>
<body class="text-center">
    <div class="card mt-5 text-light bg-dark shadow-lg">
        <div class="card-header">
            <h2 class="card-title">CANDIDATOS</h2>
        </div>  
    </div>
    <div class="card">
        <table class="table">
            <thead class="thead-dark">
                <tr class="header">
                    <th scope="col"></th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Sexo</th>
                    <th>Partido</th>
                </tr>
            </thead>
            <tbody>
                <% candidates.forEach((item) => { %>
                    <tr>
                        <td class="w-25">
                            <img src="../public/images/<%= item.candFile %>" class="img-fluid img-thumbnail">
                        </td>
                        <td>
                            <%= item.name %>
                        </td>
                        <td>
                            <%= item.lastName %>
                        </td>
                        <td>
                            <%= item.sex %>
                        </td>
                        <td>
                            <%= item.team %>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <img src="<%= candidates.candFile %>" class="img-fluid img-thumbnail">
    </div>
    <div class="card mt-3 text-light shadow-lg">
        <div class="card-header bg-dark text-light">
            <h1>Nuevo Candidato</h1>
        </div>
        <div class="card-body bg-light">
            <div>
                <div>
                    <form action="/candidates" method="POST">
                        <div class="cargaDatos">
                            <input class="form-control" type="text" name="nameCand" placeholder="Nombre" required>
                            <input class="form-control" type="text" name="lastCand" placeholder="Apellido" required>
                            <select class="form-control" name="sexCand">
                                <option value ="Hombre">Hombre</option>
                                <option value ="Mujer">Mujer</option>    
                            </select>
                            <input class="form-control" type="text" name="teamCand" placeholder="Partido" required>
                            <div class="form-group input-group">
                                <label class="input-group-addon" style="vertical-align:top;">
                                    <span class="btn btn-primary">
                                        Cargar Imágen... <input type="file" onchange="onFileSelected(event);" class="d-none">
                                    </span>
                                </label>
                                <input class="form-control" type="text" readonly id="candFile" name="candFile" placeholder="Imágen del candidato..." value="<%= candidates.candFile %>" required>
                                <input class="d-none" type="text" id="candidate" value="<%= candidates.candFile %>" name="candidate" required>
                            </div>
                        </div>
                        <a class="btn btn-secondary btn-lg" href="/">Volver</a>
                        <input class="btn btn-success btn-lg" type="submit" value="AGREGAR">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="text/JavaScript" src="/javascripts/addFile.js"></script>